body
{
    background-color: rgb(12, 12, 12);
    color: white;

}

h1
{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ctn
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

}

form
{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 25px;

}

form .number
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(45, 45, 45);

}

form button
{
    background-color: #925FE2;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transform: 0.7s;
    border: 2px solid transparent;
    
}

form button:hover
{
    color: #925FE2;
    background-color: white;
    border: 2px solid #925FE2;
    transition: all 0.7s;
    transform: scale(1.05);

}

form button:active
{
    border: 2px solid transparent;
    background-color: #925FE2;
    color: white;
    transform: scale(0.97);

}

.resend
{
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    margin-top: 60px;
    transition: 0.7s;
    border: 2px solid transparent;

}

.resend:hover
{
    border: 2px solid rgb(26, 26, 26);
    background-color: white;
    color: rgb(26, 26, 26);
    transition: all 0.7s;
    transform: scale(0.97);

}

.resend:active
{
    border: 2px solid transparent;
    background-color: rgb(26, 26, 26);
    color: white;

}